body {
    font-family: 'Helvetica', sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust as needed */
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

select,
input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.rectangular-button {
    display: block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.rectangular-button:hover {
    background-color: #0056b3;
}
